flows.json
[{"id":"52d08061.8e797","type":"tab","label":"Smart Agriculture System","disabled":false,"info":""},{"id":"602db522.f7bc4c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"18fce6e.c707619","type":"ui_tab","z":"","name":"Smart Agriculture System","icon":"dashboard","disabled":false,"hidden":false},{"id":"77521d1e.87f384","type":"ui_group","z":"","name":"                    Open Weather","tab":"18fce6e.c707619","order":3,"disp":true,"width":"6","collapse":false},{"id":"f256fc0f.4e9a6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cd7e101c.ca284","type":"ui_group","z":"","name":"Smart","tab":"18fce6e.c707619","order":1,"disp":true,"width":"6","collapse":false},{"id":"74b8a786.7b13b8","type":"ui_group","z":"","name":"","tab":"18fce6e.c707619","order":2,"disp":true,"width":"6","collapse":false},{"id":"fa8b09bc.37a438","type":"ibmiot in","z":"52d08061.8e797","authentication":"apiKey","apiKey":"602db522.f7bc4c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mcu123","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":260,"wires":[["eb61eb4b.e64488","31396ce5.9d7d34","82e6ecb1.f9258"]]},{"id":"eb61eb4b.e64488","type":"function","z":"52d08061.8e797","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["a6c28077.fecf4","ac74ce16.6ebc9"]]},{"id":"31396ce5.9d7d34","type":"function","z":"52d08061.8e797","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["16a96055.77c7c","ac74ce16.6ebc9"]]},{"id":"82e6ecb1.f9258","type":"function","z":"52d08061.8e797","name":"Object Temperature","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["ee9520be.0e9c3","ac74ce16.6ebc9"]]},{"id":"a6c28077.fecf4","type":"ui_gauge","z":"52d08061.8e797","name":"","group":"cd7e101c.ca284","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":200,"wires":[]},{"id":"16a96055.77c7c","type":"ui_gauge","z":"52d08061.8e797","name":"","group":"cd7e101c.ca284","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#bc1515"],"seg1":"","seg2":"","x":920,"y":280,"wires":[]},{"id":"ee9520be.0e9c3","type":"ui_gauge","z":"52d08061.8e797","name":"","group":"cd7e101c.ca284","order":3,"width":0,"height":0,"gtype":"gage","title":"Object Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#2600e6","#ca3838"],"seg1":"","seg2":"","x":910,"y":360,"wires":[]},{"id":"a5817df9.ee7bc","type":"ui_button","z":"52d08061.8e797","name":"","group":"74b8a786.7b13b8","order":3,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":170,"y":60,"wires":[["6048ddaa.c0ee04","ac74ce16.6ebc9"]]},{"id":"af2216d8.5cab88","type":"ui_button","z":"52d08061.8e797","name":"","group":"74b8a786.7b13b8","order":4,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"{\"command\":\"motoroff\"}","x":180,"y":160,"wires":[["6048ddaa.c0ee04","ac74ce16.6ebc9"]]},{"id":"a28d52.b977f2b","type":"inject","z":"52d08061.8e797","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["d0bedd53.0d8ad"]]},{"id":"d0bedd53.0d8ad","type":"http request","z":"52d08061.8e797","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Tirunelveli, IN&appid=5843a1d5f8322ce8919cee71a9457629","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":500,"wires":[["fc65105d.ddcad","aad88f4b.d05ff","702e8992.92aaf8"]]},{"id":"71835797.7333e8","type":"catch","z":"52d08061.8e797","name":"","scope":null,"uncaught":false,"x":160,"y":580,"wires":[["d0bedd53.0d8ad"]]},{"id":"fc65105d.ddcad","type":"function","z":"52d08061.8e797","name":"Temperature","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":460,"wires":[["b38bc52c.bf8d68"]]},{"id":"aad88f4b.d05ff","type":"function","z":"52d08061.8e797","name":"Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["8c671763.8b3a88"]]},{"id":"702e8992.92aaf8","type":"function","z":"52d08061.8e797","name":"Pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":620,"wires":[["ca41a990.b90588"]]},{"id":"b38bc52c.bf8d68","type":"ui_gauge","z":"52d08061.8e797","name":"","group":"77521d1e.87f384","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":460,"wires":[]},{"id":"8c671763.8b3a88","type":"ui_gauge","z":"52d08061.8e797","name":"","group":"77521d1e.87f384","order":6,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#e40bf4"],"seg1":"","seg2":"","x":770,"y":540,"wires":[]},{"id":"ca41a990.b90588","type":"ui_gauge","z":"52d08061.8e797","name":"","group":"77521d1e.87f384","order":7,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"Pa","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#000fe6","#ca3838"],"seg1":"","seg2":"","x":710,"y":620,"wires":[]},{"id":"6048ddaa.c0ee04","type":"ibmiot out","z":"52d08061.8e797","authentication":"apiKey","apiKey":"602db522.f7bc4c","outputType":"cmd","deviceId":"Node12","deviceType":"NodeMCU","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":40,"wires":[]},{"id":"ac74ce16.6ebc9","type":"debug","z":"52d08061.8e797","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":120,"wires":[]}]